.add_btn{
    text-align: right;
    margin-bottom: 5px;
}

.container{
    overflow: auto;
}
.left_view h3{
    font-size: 21px;
  }
  .data{
    font-weight: 600;
  }
  .left_view p{
    font-size: 21px;
    font-weight: 600;
  }
  
  .left_view span{
    font-size: 19px;
    font-weight: 600;
  }
  
  .right_view p{
    font-weight: 600;
  }
  
  
  .right_view span{
    font-weight: 400;
  }
